#################
## Eclipse
#################

*.swp

# External tool builders
.externalToolBuilders/

.dll
*.lib
*.exp
*.exe


#############
## Python
#############

*.pyc
*.pyo

build

#############
## Torque
#############
*.dso
console.log
*.cached.dts
!Engine/bin
#My Projects/
Project Manager.exe
projects.xml
Qt*.dll
